@use '../utils/var'as *;
@use '../utils/function'as *;
@use 'sass:map';
@use 'sass:math';

:root{
    --radius: 16px;
    --hyg:rgba(125, 185, 40, 1);
    --hg:rgba(63, 61, 66, 1);
    --hb:rgba(29, 36, 117, 1);
    --hs:rgba(147, 147, 150, 1);
    --shadow: 0 8px 24px rgba(15, 23, 42, .08);
}

html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    font-family: 'esamanru', sans-serif;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.hidden-text{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

// Intro
.bus-record{
    overflow: hidden;
    width: 1280px;
    min-height: 800px;
    display: flex;
    height: 800px;
    min-height: 800px;
    text-align: center;
    margin: auto;
    .hospital-info{
        width: 410px;
        min-height: 800px;
        height: 100%;
        flex-shrink: 0;
        background-image: url("@/assets/images/intro/intro-left.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        img{
            padding-top: 190px;
            max-width: 100%;
        }
    }
    &__content{
        flex:1;
        width: 870px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20px;
        gap:60px;
        background-image: url("@/assets/images/intro/intro-right.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .bus-record__title{
            text-align: center;
            padding-top: 168px;
            font-size: 60px;
            font-weight: normal;
            margin-bottom: 60px;
            .icon{
                display: block;
                width: 56px;
                height: 57px;
                margin: 0 auto 12px;                
                background-image: url("@/assets/images/intro/ico-bus.png");   
            }
            strong{
                font-weight: 900;
            }
        }
    }
    .btn-start{
        width: 506px;
        height: 161px;
        background-image: url("@/assets/images/intro/start-btn.png");
        &.stop{
            background-image: url("@/assets/images/intro/stop-btn.png");
        }
    }
    &__footer{
        font-size: 0.95rem;
        color: #cccccc;
        display: flex;
        gap:33px;
        justify-content: space-around;
        margin-top: 2rem;
        padding-bottom: 80px;
        p{
            display: flex;
            align-items: center;
            gap:8px;
            flex-shrink: 0;
            margin: 0;
            font-size: 24px;
            font-weight: 300;
            color: #ffffff;
            padding-left: 48px;
            background-position: 0 center;
            background-repeat: no-repeat;
            background-size: contain;
            time{
                font-size: 36px;
                font-weight: bold;
            }
            &.start-time{
                background-image: url("@/assets/images/intro/ico-time-small.png");
            }
            &.work-time{
                background-image: url("@/assets/images/intro/ico-bus-small.png");
            }
        }
    }
}

@include responsive(xl){
    .bus-record{
        width: 100%;
        height: 100%;
    }
}


// Dashboard
.board{
    min-width: 1820px;
    display: grid;
    grid-template-columns: 50% 1fr;
    min-height: 100vh;
}
.panel{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    box-shadow: var(--shadow);
}
.hospital-header{
    display: flex;
    justify-content: space-between;
    gap:30px;
    height: 280px;
    background-image: url("@/assets/images/dashboard/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px 40px;
    position: relative;
    overflow: hidden;
    color: #e6efff;
    box-shadow: var(--shadow);

    .place-title{
        margin: 18px 0 0 ;
        letter-spacing: -0.5px;
        span{
            color: #fff;
            font-size: 68px;
            font-weight: 900;
        }
    }

    .now{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
        .weather{
            display: flex;
            align-items: center;
            gap: 8px;
            .temp{
                font-size: 25px;
                letter-spacing: -1px;
                color: #fff;
                strong{
                    font-size: 32px;
                }
            }
        }
        .datetime{
            text-align: right;
            font-weight: 300;
            .date{
                font-size: 21px;
            }
            .time{
                font-size: 32px
            }
        }
    }
}

// ====== Route card ======
.route-inner{
    position: relative;
    z-index: 10;
    margin-top: -80px;
}
.arrival-notice{
    position: absolute;left: 0;top: 0;
    z-index: 10;
    width: calc(100%);
    height: 100%;
    background-image: url("@/assets/images/dashboard/Arrive-bg.png");
    border-radius: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 44px;
    
    &:before {
        content: "";
        position: absolute;
        inset: 0; /* top, right, bottom, left = 0 */
        padding: 16px; /* 보더 두께 */
        border-radius: 30px;
        background: linear-gradient(160deg, #DE3412, #F48771);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }
    .arrival-time{
        font-size: 72px; 
        font-weight: 500;   
        
        span{
            font-size: 60px;
            font-weight: 300;
        }
    }
    .arrival-spot{
        font-size: 60px;
        font-weight: 300;
    }
    strong{
        display: block;
        font-size: 140px;
        font-weight: bold;
        color:#FFFF00;
        animation: blink 2s step-start infinite;
    }
}
.route-card{
    overflow: hidden;
    background: #fff;
    border-radius: 35px;
    padding: 20px 0 20px;
    box-shadow: var(--shadow);
    border: 3px solid #C6C6C6;
    margin: 0 40px 16px;
    box-sizing: border-box;
    &.close{
        .timeline{
            .arrival{
                border: 10px solid var(--hs);
                span{
                    color: var(--hs);
                }
            }
        }
    }
    &--green{
        position: relative;
    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        padding: 0 32px;
    }
    &__title{
        display: flex;
        align-items: center;
        gap: 8px;
        .icon{
            background-image: url("@/assets/images/dashboard/ico-ti-bus.png");
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            &--green{
                background-color: var(--hyg);
            }
            &--blue{
                background-color: var(--hb);
            }
        }
        .badge{
            font-size: 36px;
            font-weight: 500;
            &--green{
                color:var(--hyg);
            }
            &--blue{
                color:var(--hb);
            }
        }
        h2{
            font-size: 24px;
            color:var(--hg);
            font-weight: 300;
        }
    }

    .service-hours{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 12px;
        color: var(--muted);
        text-align: right;
        .service-row{
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 0;
            dt{
                width: 48px;
                height: 22px;
                line-height: 20px;
                border: 1px solid #939396;
                color:#939396;
                text-align: center;
                font-size: 15px;
                border-radius: 4px;
            }
            dd{
                font-size: 21px;
                color:var(--hg);
                font-weight: 300;
            }
        }
    }
}

.pill{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    padding: 0 12px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 13px;
    margin-top: 50px;
    cursor: default;
    font-size: 24px;
    &--here{
        background: var(--hg);
        color: #fff;
    }
    &:after{
        content: "";
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid var(--hg);
    }
}

// ====== Timeline / Track ======
.timeline{
    border-radius: 12px;
    margin-top: 70px;
    text-align: center;
    &__meta{
        position: relative;
        display: inline-flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        width: 736px;
        height: 56px;
        border-radius: 28px;
        font-size: 14px;
        color: #1f2937;
        background: rgba(147, 147, 150, 0.15);
        .section{
            font-weight: 500;
            font-size: 21px;
            width: 83px;
            flex-shrink: 0;
        }
        .arrival{
            position: relative;
            width: 480px;
            height: 134px;
            border-radius:67px;
            flex-shrink: 0;
            border:10px solid transparent ;
            span{
                display: block;
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                box-sizing: border-box;
                font-size: 72px;
                font-weight: bold;
            }
            &--soon{
                background-image:linear-gradient(#fff, #fff), linear-gradient(160deg, #CAE7A0 ,#7DB928 ,#64A010, #203600);
                background-origin:border-box; 
                background-clip:padding-box, border-box;
                font-size: 46px;
                span{
                    color:var(--hyg);
                    letter-spacing: -2px;
                }
            }
            &--minute{
                background-image:linear-gradient(#fff, #fff), linear-gradient(160deg, #96B3DD ,#0F579D ,#085093, #000039);
                background-origin:border-box; 
                background-clip:padding-box, border-box;
                span{
                    color:var(--hb)
                }
            }   
        }
        .chev{
            width: 9px;
            height: 16px;
            background-image: url("@/assets/images/dashboard/gray-arrow.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.track{
    position: relative;
    padding-top: 100px;
    &__line{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 108px;
        height: 20px;
        background: var(--hs);
    }
    &__green{
    
    }
    &__blue{
    
    }
    .nodes{
        overflow: hidden;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 6px;
        position: relative;
        z-index: 1;
        list-style: none;
        margin: 0;
        .node{
            position: relative;
            text-align: center;
            &:after{
                content: "";
                position: absolute;
                left: -12px;
                top: 8px;
                width: 12px;
                height: 20px;
                transform: translateX(-50%);
                background-image: url('@/assets/images/dashboard/white-arrow.png');
            }
            &:first-child{
                width: 240px;
                &:after{
                    display: none;
                }
            }
            &:last-child{
                width: 240px;
            }
            &--circle{
                &:before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 2px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    transform: translateX(-50%);
                    background: #fff;
                    box-sizing: border-box;
                    border: 4px solid var(--hs);
                }
            }
            .stop{
                display: inline-block;
                margin-top: 45px;
                font-size: 19px;
                color: #334155;
                line-height: 1.2;
                letter-spacing: -.1px;
                font-weight: 300;
                em{
                    color: var(--hg);
                    font-size: 15px;
                }
            }
            &.node--here{
                .node--circle{
                    &:after{
                        position: absolute;
                        left: 50%;
                        top:10px;
                        transform: translateX(-50%);
                        display: block;
                        content:'';
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: var(--hs);
                    }
                }
            }
        }
    }

    // 버스 아이콘 (진행 위치)
    .bus{
        width: 80px;
        --pos: var(--bus, 0%);
        position: absolute;
        top: 60px;
        left: calc(24px + var(--pos));
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .15));
        div{
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &.green--bus{
            color:var(--hyg);
        }
        &.blue--bus{
            color:var(--hb);
        }
    }
}

// ====== Metro badges ======
.route-badges{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.metro{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    padding: 0 8px;
    border-radius: 999px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    letter-spacing: .2px;
    &--2{
        background: #00B050;
        margin: -3px 3px;
        
    }
    &--5{
        background: #8545CE
    }
    &--suin{
        background: #FFC000
    }
    &--gyeongui{
        background: #6CCBCE
    }
}

// map
.map{
    position: relative;
    background: #dfe7f3;
    overflow: hidden;
    box-shadow: var(--shadow);
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

@keyframes blink {
    0%, 69%   { opacity: 1; }
    70%, 100% { opacity: 0; }
}